.pontos {
    width:  4px;
    height: 4px;
    background-color: red;
    position: absolute;
    margin: 28.5px;
    border-radius: 50%;
}

.line {
  transform-origin: 0 100%;
  height: 3px; /* Line width of 3 */
  background: lightgreen; /* Black fill */
}