<div id="app-component">
  <div class='options'>
      <p><button style="padding: 10px;" type="buttom" (click)="gerarPontos($event)"><h3>Gerar conjunto de pontos</h3></button></p>
      <p><label style="margin: 10px;">Mínimo de Pontos: {{ minPontos }}</label></p>
      <p><input style="width: 500px;" [(ngModel)]="minPontos" type="range" min="20" max="{{maxPontos}}"/></p>
      <p><label  style="margin: 10px;">Máximo de Pontos: {{ maxPontos }}</label></p>
      <p><input style="width: 500px;" [(ngModel)]="maxPontos" type="range" min="{{minPontos + 1}}" max="{{ (altura/escala) * largura/escala }}"/></p>
      <p><b>Orientação:</b> Inicia no ponto (0, 0) no topo esquerdo, e finaliza no ponto ({{ largura/escala }}, {{ altura/escala }}) ao canto inferior direito</p>
  </div>
  <app-plano-cartesiano
    [pontos]="pontos"
    [raiz]=0
    [largura]="largura"
    [altura]="altura"
    [escala]="escala"
    [conexoes]="conexoes"
  >
  </app-plano-cartesiano>
  <div style="width: 500px">
    <div style="width: 250px; float: left;">
      <h3>Pontos {{ pontos.length }}</h3>
      <table>
        <thead>
          <th>X</th>
          <th>Y</th>
        </thead>
        <tbody>
          <tr *ngFor='let ponto of pontos'>
            <td>{{ ponto[0] }}</td>
            <td>{{ ponto[1] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="width: 250px; float: left;">
      <h3>Pontos da Extremidade {{ conexoes.length }}</h3>
      <table>
        <thead>
          <th>X</th>
          <th>Y</th>
        </thead>
        <tbody>
          <tr *ngFor='let ponto of conexoes'>
            <td>{{ ponto[0] }}</td>
            <td>{{ ponto[1] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  

</div>